<div class="content">
	<div class="row mb-4">
		<div class="col-12">
			<h2>Home</h2>
		</div>
	</div>	
	<div class="row">
		<div class="col col-12">...</div>
	</div>
</div>
<style>
canvas.chart {
	width: 100%;
}
</style>