<!doctype html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>
	{% block title %}{{ constant('APP_TITLE') }}{% endblock title %}
</title>
<!-- ---------------------------------------- -->
{% include 'links.twig' %}
<!-- ---------------------------------- -->
<style type="text/css">
{% block css %}
{% endblock css %}
{% include 'frontend/styles.css' %}
</style>
<!-- ---------------------------------------- -->
{% include 'scripts.twig' %}
<!-- ---------------------------------- -->
<script type="text/javascript">
{% block js %}
{% endblock js %}
</script>
<!-- ---------------------------------------- -->
</head>
<body>
	<div class="container-fluid pt-2">
    	<!-- --------------------------------------------- -->
    	{% block header %}
    	<div id="header" class="container-fluid">
    		<div class="row m-0 p-0">
    			<div class="col-12 m-0 p-0"><H1>{{ constant('APP_HEADER_TITLE') }}</H1></div>			
    		</div>
    		<div class="row m-0 p-0">
    			<div id="nav" class="col col-12 m-0 p-0">			
    				{% block nav %}
    				{% include 'frontend/nav.twig' %}
    				{% endblock nav %}		
    			</div>
    		</div>
    		<hr>
    	</div>
    	{% endblock header %}
    	<!-- --------------------------------------------- -->
    	{% block main %}
    	<div id="main" class="container-fluid">		
    		<div class="row">			
    			<div id="content" class="col col-12 m-0 p-0">
    				{% block content %}
    				{% endblock content %}
    			</div>
    		</div>
    	</div>
    	{% endblock main %}
    	<!-- --------------------------------------------- -->
    	{% block footer %}	
    	<div id="footer" class="container-fluid">
    		<hr>		
        	<div class="row">
            	<div class="col col-12 text-center pt-4">
            		<a href="mailto:{{ base_path() }}">admin@app.com</a>
            	</div>
        	</div>
        </div>    
        {% endblock footer %}
        <!-- --------------------------------------------- -->
    </div>
</body>
</html>