
<a href="{{ base_path() }}/home" class="link br-1 {% if 'home' in current_url() %}active{% endif %}">Home</a>
<a href="{{ base_path() }}/aaa" class="link br-1 {% if 'aaa' in current_url() %}active{% endif %}">A</a>
<a href="{{ base_path() }}/bbb" class="link br-1 {% if 'bbb' in current_url() %}active{% endif %}">B</a>
<a href="{{ base_path() }}/ccc" class="link br-1 {% if 'ccc' in current_url() %}active{% endif %}">C</a>

