
<a href="{{ base_path() }}/home" class="link br-1 {% if 'home' in current_url() %}active{% endif %}">Home</a>
<a href="{{ base_path() }}/a" class="link br-1 {% if 'a' in current_url() %}active{% endif %}">A</a>
<a href="{{ base_path() }}/b" class="link br-1 {% if 'b' in current_url() %}active{% endif %}">B</a>
<a href="{{ base_path() }}/c" class="link br-1 {% if 'c' in current_url() %}active{% endif %}">C</a>

